.buttonContainer {
    display: inline-block;
    user-select: none;
}

.Primary {
    background-color: #2c64c6;
    transition: 0.2s;
    color: white;
    border: none;
    user-select: none;
}



.Primary:hover {
    background-color: #2658ad;
}

.Primary:active {
    background-color: #234d97;
    transform: scale(0.99);
    transition: 0.2s;
    user-select: none;
}

.buttonContainer>button {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.buttonContainer>button[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
}

.buttonContainer>button[disabled]:hover {
    opacity: 0.3;
}

.buttonContainer>button[disabled]:active {
    opacity: 0.3;
}

.buttonContainer>button:focus {
    -webkit-box-shadow: inset 0px 0px 0px 1px #6db8ff;
    -moz-box-shadow: inset 0px 0px 0px 1px #6db8ff;
    box-shadow: inset 0px 0px 0px 1px #6db8ff;
}

.buttonContainer>button:hover {
    transition: 0.2s;
}

.buttonContainer>button:active {
    transition: 0.2s;
}

.Secondary {
    background-color: #393939;
    transition: 0.2s;
    border: none;
    color: white;
    user-select: none;
}

.Secondary:hover {
    background-color: #535353;
}

.Secondary:active {
    background-color: #6d6d6d;
    transform: scale(0.99);
}

.Tertiary {
    border: solid 1px #2c64c6;
    color: #2c64c6;
    background-color: white;
    transition: 0.2s;
    user-select: none;
}

.Tertiary:hover {
    color: white;
    background-color: #2c64c6;
}

.Tertiary:active {
    background-color: #234d97;
}

.Danger {
    background-color: #da1e28;
    border: none;
    color: white;
    transition: 0.2s;
    user-select: none;
}

.Danger:hover {
    background-color: #bd1a23;
}

.Danger:active {
    transform: scale(0.99);
    background-color: #a5181f;
}

.Ghost {
    background-color: transparent;
    border: none;
    color: #2c64c6;
    transition: 0.2s;
    user-select: none;
}

.Ghost:hover {
    background-color: #c4c5c7;
}

.Ghost:active {
    background-color: #b6b6b6;
}


.buttonContainer>button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}