.orderContainer {
    --primaryColor: #080961;
    --primaryFont: 'Inter';
    border-radius: 2px;
    width: 100%;
    height: 40px;
    display: flex;
    background-color: #fff;
    font-family: var(--primaryFont);
    user-select: none;
}
.orderContainer:hover {
    cursor: pointer;
    transform: scale(1.04, 1.1);
    transition: 0.4s;
    box-shadow: 0.05em 0.05em 5px var(--primaryColor);
}

.orderContainer td {
    color: var(--primaryColor);
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    align-items: center;
    flex-basis: 20%;
    border-radius: 2px;
}

.orderContainer td.upperSilver {
    text-transform: uppercase;
    color: var(--secondaryColor);
    font-weight: 400;
}