.singleOrderPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 72px;
    margin-left: 63px;
    max-width: 100%;
    height: 91vh;
    overflow: auto;
    font-family: Inter;
}

.singleOrderPage>.orderInfo {
    position: sticky;
    top: 0px;
    left: 0px;
    color: rgb(3 4 94);
    font-size: 20px;
    font-weight: bold;
    background: #ededed;
    width: 30%;
    text-align: left;
    padding: 4%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.singleOrderPage>.orderInfo>.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}
.singleOrderPage>.orderInfo>.wrapper>.left , .singleOrderPage>.orderInfo>.wrapper>.right {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.singleOrderPage>.orderInfo .info {
    margin-left: 10px;
}

.singleOrderPage>.orderInfo .grey { 
    font-weight: normal;
    color: #999;
}

.singleOrderPage>.orderInfo .name {
    text-transform: capitalize;
}

.singleOrderPage>.orderDetails {
    text-align: left;
    width: 60%;
    margin-top: 5%;
    color: rgb(3 4 94);
}