.collectionBarContainer {
    width: 89%;
    height: 140px;
    border-radius: 5px;
    display: flex;
}

.collectionBarContainer .allBlock {
    height: 100%;
    min-width: 120px;
    background-color: #f3f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}



.collectionBarContainer .collectionBar {
    height: 100%;
    min-width: 80%;
    width: auto;
    background-color: #f3f4f8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    overflow-x: auto;
    z-index: 0;
}

.collectionBarContainer .collectionBar::-webkit-scrollbar {
    width: 1px;
    height: 8px;
    background-color: #888;
}

.collectionBarContainer .collectionBar::-webkit-scrollbar-track {
    background-color: #f3f4f8;
}

.collectionBarContainer .collectionBar::-webkit-scrollbar-thumb:hover {
    background-color: #888;
    border-radius: 10px;
}

.collectionBarContainer .collectionBar button {
    margin: 0 8px 0 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.collectionBarContainer .addNewBlock {
    height: 100%;
    min-width: 120px;
    background-color: #f3f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.collectionBarContainer .addNewBlock button,
.allBlock button {
    margin-bottom: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.addFormContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.274);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addFormWrapper {
    height: 450px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addFormWrapper h2 {
    color: #03045e;
}

.addFormBody {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.addFormBody .upperBody,
.addFormBody .lowerBody {
    height: 50%;
    width: 100%;
}

.addFormBody .upperBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addFormBody .lowerBody {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.lowerBody .buttonContainer {
    margin: 0px 9px 20px;
}

.focus {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    font-family: 'Inter';
    user-select: none;
    cursor: pointer;
    padding: 0px 5px 0px;
    transform: scale(1.2);
    background-color: #03045e;
    color: #ffffff;
    border: 7px solid #ffffff;
    font-weight: 500;
}

.collectionBarContainer .addNewBlock .seeAllWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: fit-content;
    top: -15px;
    right: 20px;
    z-index: 5;
}

.collectionBarContainer .addNewBlock .seeAllWrapper>a {
    text-decoration: none;
    color: #0292cd;
}