.viewItemsPage {
    position: relative;
    top:0;
    left:0;
    right:0;
    bottom:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(243, 244, 248);
    padding-left: 63px;
    padding-bottom: 90px;
    padding-top: 72px;
    font-family: 'Inter';
}

.viewItemsPage > .collectionBarContainer{
    padding-top: 35px;
    padding-left: 20px;
    justify-content: center;
}
.viewItemsPage>.itemsContainer {
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
}

.viewItemsPage  .searchBarWrapper{
    width: 90%;
    margin-top: 15px;
    margin-left: 70px;
    display: flex;
    justify-content: flex-start;
}

.viewItemsPage  .searchBarWrapper>div>div{
    padding-left: 0;
}