.orderHistoryPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 63px;
    margin-top: 72px;
    row-gap: 20px;
    --primaryColor: #080961;
    --secondaryColor: #ADADAF;
    --primaryFont: 'Inter';
    font-family: var(--primaryFont);
}

.orderHistoryPage h2 {
    display: flex;
    color: var(--primaryColor);
    padding-top: 20px;
    padding-left: 40px;
    margin: 0;
}

.orderHistoryPage .ordersTable {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    row-gap: 20px;
    padding-left: 40px;
    color: #fff;
    width: 95%;
    font-family: var(--primaryFont);
}

.orderHistoryPage .ordersTable thead {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.orderHistoryPage .ordersTable .emptyOrders {
    font-weight: bold;
    color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 570px;
    font-size: 24px;
    text-decoration: underline;
}

.orderHistoryPage .ordersTable .filterBarInOrderHistoryPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderHistoryPage .ordersTable .filterBarInOrderHistoryPage .searchBarInOrderHistoryPage {
    display: flex;
    justify-content: flex-start;
    flex-basis: 50%;
}

.orderHistoryPage .ordersTable .filterBarInOrderHistoryPage .searchBarInOrderHistoryPage .searchWrapper {
    padding: 0px;
}

.orderHistoryPage .ordersTable .filterBarInOrderHistoryPage .dateSearchInOrderHistoryPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
}

.orderHistoryPage .ordersTable .filterBarInOrderHistoryPage .dateSearchInOrderHistoryPage strong {
    font-size: 15px;
    flex-basis: 50%;
    font-weight: bold;
    color: var(--primaryColor);
}


.orderHistoryPage .ordersTable .filterBarInOrderHistoryPage .dateSearchInOrderHistoryPage input[type="date"] {
    flex-basis: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    padding: 8px;
    font-family: var(--primaryFont);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.orderHistoryPage .ordersTable .filterBarInOrderHistoryPage .dateSearchInOrderHistoryPage input[type="date"]:disabled {
    color: #fff;
}

.orderHistoryPage .ordersTable .filterBarInOrderHistoryPage .dateSearchInOrderHistoryPage ::-webkit-calendar-picker-indicator {
    background-color: #fff;
    padding: 2px;
    cursor: pointer;
    border-radius: 3px;
}

.orderHistoryPage .orderBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryColor);
    height: 40px;
    width: 90%;
    margin-left: 37px;
    border-radius: 2px;
}

.orderHistoryPage .ordersTable tbody {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-height: 580px;
}

.orderHistoryPage .ordersTable thead .headerInOrdersTable {
    border-radius: 2px;
    width: 100%;
    height: 40px;
    display: flex;
    background-color: var(--primaryColor);
}

.orderHistoryPage .ordersTable .headerInOrdersTable th {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
}

.orderHistoryPage  .buttonsInOrdersTable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 40px;
    width: 92.8%;
    gap: 30px;
}

.orderHistoryPage  .buttonsInOrdersTable .pageNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryColor);
    user-select: none;
}

.orderHistoryPage .ordersTable tbody.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsInOrdersTable .arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.buttonsInOrdersTable .arrow.disabled
{
    cursor: not-allowed;
}

