.navigationBarContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 60px;
    background-color: #FFFFFF;
    margin-right: 3px;
    border-right: 2px solid #F3F4F8;
    z-index: 5;
}

.navigationBarContainer .logoContainer {
    background-image: url('../../../assets/Logo.svg');
    width: 55px;
    height: 125px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navigationBarContainer .optionsContainer {
    width: 100%;
    height: 90%;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.optionsContainer .optionWrapper {
    width: 100%;
    height: 70px;
    cursor: pointer;
    display: flex;
}

.optionWrapper span {
    display: flex;
    height: 90%;
    max-width: 4px;
    background-color: #03045e;
    color: transparent;
    margin: 0;
}

.optionWrapper button span {
    display: flex;
    height: 100%;
    max-width: 2px;
    background-color: #FFFFFF;
    color: transparent;
    margin: 0;
}

.optionWrapper button.focusBtn span {
    background-color: #03045e;
}

.optionWrapper button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}

button .radioIcons {
    margin: 4px 0px 4px;
    margin-left: 15px;
}


button.focusBtn .radioIcons {
    fill: #03045e;
    cursor: pointer;
}

.logoutContainer {
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: center;
}


.logoutContainer .logoutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}