.editRolesContainer {
    width: 700px;
    height: 500px;
    margin-top: 101px;
    font-family: Inter;
  }
  .editRolesContainer>h1{
    color: #03045e;
  }
  
  .userSearchWrapper {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    height: 30px;
    border: 1px solid #bebebe;
    border-radius: 20px;
    align-items: center;
    background-color: white;
    padding-right: 7px;
  }
  
  .userSearchWrapper > input {
    border: none;
    outline: none;
    padding-left: 30px;
    background-color: transparent;
  }

  .usersListContainer{
    min-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .usersListContainer>div{
    width: 99%;
    height: auto;
    background-color: white;
    padding: 20px 0px 20px;
    display: flex;
    border: 1px solid #bebebe;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 3px;
  }

  .usersListContainer>div:hover{
    transform: translateY(2%);
    transition: 0.3s;
  }

  .usersListContainer>div>span,.usersListContainer>div>.selectWrapper{
    width: 50%;
    display: flex;
  }
  .usersListContainer>div>span{
    padding-left: 20px;
    justify-content: flex-start;
  }

  .usersListContainer>div>.selectWrapper{
    padding-right: 20px;
    justify-content: flex-end;
  }

  .usersListContainer>div>.selectWrapper>select{
    border: none;
    outline: none;
    border: 1px solid #bebebe;
    cursor: pointer;
  }
