.addFormContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addFormWrapper {
    height: 380px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #00000059 0px 5px 15px;
}

.addFormWrapper h2 {
    color: #03045e;
    margin-top: 35px;
}

.addFormBody {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.addFormBody .upperBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addFormBody .lowerBody {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px;
}

.lowerBody .buttonContainer {
    margin: 0px 9px 20px;
}
