.collectionBlockContainer{
    transition: 0.3s;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    font-family: 'Inter';
    user-select: none;
    cursor: pointer;
    border: none;
    padding: 0px 5px 0px;
}

 .focus{
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    font-family: 'Inter';
    user-select: none;
    cursor: pointer;
    padding: 0px 5px 0px;
    transform: scale(1.2);
    background-color: #03045e ;
    color: #ffffff;
    border: 7px solid #ffffff;
    font-weight: 500;
}

.iconWrapper{
    font-size: 40px;
    margin-bottom: 7px;
}

.collectionText{
    font-size: 15px;
    margin-bottom: 0.3em;
    width: 90px;
    overflow-wrap: anywhere;
}