.TextInputWrapper {
    display: flex;
    height: fit-content;
    width: fit-content;
}

.input {
    display: flex;

    font-size: 16px;
    text-align: left;

    margin: 2px 250px;
    padding: 0px 8px;

    border: 2px solid gray;
    border-radius: 5px;

    outline: none;
    transition: 0.4s;
}

.input:focus,
.input:active,
.textArea:focus,
.textArea:active {}

.textArea {
    display: flex;

    text-align: left;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 5px;

    margin: 50px 250px;
    padding: 8px;

    resize: none;

    outline: none;
    transition: 0.4s;

}

.input:disabled,
.textarea:disabled {
    cursor: not-allowed;
    user-select: none;
}

.textArea.invalid,
.input.invalid {
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    border: 2px solid #ff3030;
}



@keyframes shake-horizontal {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-6px);
    }

    20%,
    40%,
    60% {
        transform: translateX(6px);
    }

    80% {
        transform: translateX(4px);
    }

    90% {
        transform: translateX(-4px);
    }
}