.signupPageContainer>div{
    border: 1px solid red;
    font-family: 'Inter', sans-serif;
}

.signupPageContainer{
    display: flex;
    flex-direction: column;
}

.signupPageTitleContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signupPageTitleContainer>h1{
    margin: 0;
    color: #03045e;
}

.signupPageTitleContainer>h2{
    color: #04326d;
}

.signupPageTitleContainer>h2>a{
    text-decoration: none;
    color: #023e8a;
}