.posViewContainer {
    max-width: 100%;
    height: 100vh;
    background-color: #f3f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 62px;
    padding-top: 72px;
    font-family: 'Inter';
}



.posViewContainer .posTitlewrapper {
    width: 75%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
}

.posViewTitle {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #030494;
    font-size: 1.5em;
    font-weight: bold;
}

.seeAllWrapper {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.seeAllWrapper>a {
    text-decoration: none;
    color: #0292cd;
}

